<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <%- include('./navbar') %> -->
    <h1>Chào mừng đến với trang quản lý cửa hàng bánh</h1>
    <nav>
        <ul>
            <li><a href="/managerCakes">Quản lý bánh</a></li>
            <li><a href="/managerOrders">Quản lý đơn hàng</a></li>
            <li><a href="/managerAccessories">Quản lý phụ kiện</a></li>
            <li><a href="/shoppingCart">Giỏ hàng</a></li>
        </ul>
    </nav>
    <p>Hãy lựa chọn một mục từ menu trên để quản lý các mục tương ứng.</p>
    
</body>
</html>