<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar') %>
    <h1>Chào mừng đến với trang quản lý Backend foryou</h1>
    <nav>
        <ul>
            <li><a href="/cake">Quản lý bánh</a></li>
            <li><a href="/accessories">Quản lý phụ kiện</a></li>
            <li><a href="/">Quản lý đơn hàng</a></li>
        </ul>
    </nav>
    
</body>
</html>